body{
	background-color: #444;
	background-image: -webkit-linear-gradient(top, #666, #222);
	background-image: -moz-linear-gradient(top, #666, #222);
	background-image: -o-linear-gradient(top, #666, #222);
	color: #FFF;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}
#container{
	height: 720px;
	width: 1280px;
}
#container table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}
#container .head {
	font-size: 1.2em;
	height: 7%;
	text-align: center;
}
#container td{
	padding: 0px 5px 0px 4px;
	border: 1px #dadada solid;
	overflow: hidden;
}
.col_0{
	width: 10%;
       vertical-align: middle;
       text-align: center;
}
.col{
	width: 15%;
}
.important_slot{
	height: 7%;
}
.normal_slot{
	height: 12%;
}
#container .current_slot td{
	background: #888;
}
.next_slot{
}
.small {
	font-size: 12px;
}
